<header>
  <nav>
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <img src="https://res.cloudinary.com/dafrgmbsw/image/upload/v1672689076/home_dzyaen.png" alt="" />
    </a>
    <a routerLink="/contact" routerLinkActive="active">
      <img src="https://res.cloudinary.com/dafrgmbsw/image/upload/v1672689075/users_i6awoo.png" alt="" />
    </a>
    <a routerLink="/statistics" routerLinkActive="active">
      <img src="https://res.cloudinary.com/dafrgmbsw/image/upload/v1672689076/increase_hzdzc9.png" alt="" />
    </a>
  </nav>
</header>
