.home {
    display: flex;
    flex-direction: column;
    margin-block-start: 20px;
    position: relative;
    .top {
        display: flex;
        align-items: center;
        padding-block-end: 5px;
        border-bottom: 2px solid #9992;

        img {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            border: 2px solid rgba(192, 192, 192, 0.3);
            margin-inline-end: 10px;
        }
    }

    .logged-user {
        h2 {
            font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
        }
        .info-line {
            display: flex;
            align-items: center;
            gap: 5px;
            img {
                height: 48px;
                width: 48px;
            }
        }
    }
}
button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgb(226, 109, 88);
    border: none;
    color: #eee;
    padding: 3px 12px;
    box-shadow: 4px 4px #9995;
    transition: 0.2s;
    &:is(:active, :focus) {
        right: -1px;
        top: 1px;
        box-shadow: 2px 2px #9995;
    }
}
