<section *ngIf="contact" class="contact-details">
  <section class="user">
    <div class="top">
      <img src="https://robohash.org/set_set5/{{ contact.name }}.png" alt="" />
      <h2>{{ contact.name }}</h2>
    </div>
    <div class="bot">
      <div class="phone">
        <img
          src="https://res.cloudinary.com/dafrgmbsw/image/upload/v1672826524/icons8-phone-30_qrbrlq.png"
          alt=""
        />
        <p>{{ contact.phone }}</p>
      </div>
      <div class="email">
        <img
          src="https://res.cloudinary.com/dafrgmbsw/image/upload/v1672826527/icons8-secured-letter-50_qdhdrf.png"
          alt=""
        />
        <p>{{ contact.email }}</p>
      </div>
      <div class="container">
        <a routerLink="/contact" class="btn">back</a>
      </div>
    </div>
  </section>
</section>

<transfer-funds [contact]="contact" (onTransfer)="onTransfer()">
</transfer-funds>

<moves-list [moves]="contact.moves"></moves-list>
