.contact-details {
    margin-block-start: 20px;
    padding: 20px;
    box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.164);

    .top {
        display: flex;
        align-items: center;
        padding-block-end: 5px;
        border-bottom: 2px solid #9992;

        img {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            border: 2px solid rgba(192, 192, 192, 0.3);
            margin-inline-end: 10px;
        }
    }

    .bot{
        position: relative;
        p{
            margin-block-end: 0;
        }
        a{
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}
