.contacts-list {
    margin-block-start: 20px;
    padding-inline: 20px;
    display: grid;
    grid-template-columns: repeat(1);
    grid-auto-rows: 150px;
    gap: 25px;
    height: calc(100vh - 169px);
    overflow-y: auto;

    .add {
        position: fixed;
        bottom: 10px;
        right: 10px;
        border-radius: 50%;
        border: none;
        height: 48px;
        width: 48px;
        cursor: pointer;
        transition: 0.2s filter, 0.5s rotate;
        &:hover {
            filter: drop-shadow(0px 0px 20px #9999);
            rotate: 180deg;
        }
    }
}
